body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  /* background-image: url('../img/background-home.png'); */
}

/* HEADER */

.header {
  /* position: fixed; */
  padding-top: 20px;
  height: 64px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 60px;
}

.header div {
  flex-wrap: nowrap;
}

.header .menu-logo {
  display: flex;
  gap: 28px;
}

.header .menu {
  margin-top: 10px;
  margin-left: 32px;
  width: 20px;
  height: 17px;
}

.header .menu:hover {
  cursor: pointer;
}

.header .menu .menu-stroke {
  width: 18px;
  height: 1px;
  background-color: #1F2022;
  border: 1px #1F2022 solid;
  border-radius: 3px;
  margin-top: 4px;
}

.header .logo {
  width: 116px;
  height: 25px;
  background-image: url('../img/logo.svg');
  background-size: 116px;
  margin-top: 10px;
}

.header .search {
  flex-grow: 1;
  padding-left: 22px;
  height: 44px;
  max-width: 830px;
  background-color: #EBEBEB;
  border-radius: 22px;
}

.header .search .search-icon {
  float: right;
  margin-right: 22px;
  margin-top: 12.5px;
}

.header .search .search-icon:hover {
  cursor: pointer;
}

.header .search input {
  height: 44px;
  width: calc(100% - 22px - 19px);
  border: none;
  padding: 0;
  background-color: #EBEBEB;
  font-size: 20px;
  opacity: 40%;
  color: #30384C;
}

.header .search input:focus {
  outline: none;
}

.header .icons {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  gap: 50px;
  margin-top: 2px;
  margin-right: 56px;
}

.header .icons > div:hover {
  cursor: pointer;
}

.header .icons > div:hover svg path {
  fill: #FF0000;
  opacity: 1;
}

.icons .camera, .icons .apps {
  margin-top: 10px;
}

.icons .notifications {
  margin-top: 7px;
}

.icons .notifications .unread {
  width: 18px;
  height: 18px;
  background-color: #FF0000;
  font-weight: bold;
  font-size: 12px;
  color: #FFF;
  text-align: center;
  line-height: 18px;
  border-radius: 9px;
  position: relative;
  top: -35px;
  left: 9px;
}

.header .icons .userpic {
  width: 40px;
  height: 40px;
  background-image: url('../img/userpic.png');
  background-size: 40px;
  border-radius: 20px;
}

/* SIDEBAR */

body > .menu {
  /* position: fixed; */
  /* top: 84px; */
  width: 230px;
  float: left;
  color: #898989;
  margin-left: 31px;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 16px;
}

.menu ul {
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  margin: 0;
  line-height: 49px;
  vertical-align: top;
}

.menu ul.secondary {
  /* margin-top: 33px; */
}

.menu li {
  padding-left: 0;
  display: flex;
  gap: 14px;
}

.menu li svg {
  margin-top: 16px;
}

.menu li:hover {
  color: #FF0000;
  cursor: pointer;
}

.menu li svg path {
  opacity: 0.24;
}

.menu li:hover svg path {
  fill: #FF0000;
  opacity: 1;
}

.menu ul > li svg {
  /* width: 34px; */
  height: 20px;
}

.menu .subscriptions {
  /* margin-top: 45px; */
}

.menu .subscriptions h3 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.menu .subscriptions ul {
  margin-left: 0;
}

.menu .subscriptions ul li {
  gap: 10px;
}

.menu .subscriptions ul > li div:first-of-type {
  width: 26px;
  height: 26px;
}

.menu .subscriptions ul img {
  width: 26px;
  height: 26px;
  margin-top: 13px;
  border-radius: 13px;
}

.menu .settings {
  display: flex;
  gap: 15px;
}

.menu .settings:hover {
  cursor: pointer;
  color: #F00;
}

.menu .settings svg path {
  opacity: 0.24;
}

.menu .settings:hover svg path {
  opacity: 1;
  fill: #FF0000;
}


/* CONTENTS */

.main {
  width: auto;
}
