html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  /* background-image: url('../img/background-home.png'); */
}

/* HEADER */

.header {
  padding-top: 20px;
  height: 64px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 60px;
}

.header div {
  flex-wrap: nowrap;
}

.header .menu-logo {
  margin-left: 32px;
  display: flex;
  gap: 28px;
}

.header .menu {
  margin-top: 10px;
  width: 20px;
  height: 17px;
}

.header .menu:hover {
  cursor: pointer;
}

.header .menu .menu-stroke {
  width: 18px;
  height: 1px;
  background-color: #1F2022;
  border: 1px #1F2022 solid;
  border-radius: 3px;
  margin-top: 4px;
}

.header .logo {
  width: 116px;
  height: 25px;
  background-image: url('../img/logo.svg');
  background-size: 116px;
  margin-top: 10px;
}

.header .search {
  flex-grow: 1;
  padding-left: 22px;
  height: 44px;
  max-width: 830px;
  background-color: #EBEBEB;
  border-radius: 22px;
}

.header .search .search-icon {
  float: right;
  margin-right: 22px;
  margin-top: 12.5px;
}

.header .search .search-icon:hover {
  cursor: pointer;
}

.header .search input {
  height: 44px;
  width: calc(100% - 22px - 19px);
  border: none;
  padding: 0;
  background-color: #EBEBEB;
  font-size: 20px;
  opacity: 40%;
  color: #30384C;
}

.header .search input:focus {
  outline: none;
}

.header .icons {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  gap: 50px;
  margin-top: 2px;
  margin-right: 56px;
}

.header .icons > div:hover {
  cursor: pointer;
}

.header .icons > div:hover svg path {
  fill: #FF0000;
  opacity: 1;
}

.icons .camera, .icons .apps, .icons .search-mobile {
  margin-top: 10px;
}

.icons .notifications {
  margin-top: 7px;
}

.icons .notifications .unread {
  width: 18px;
  height: 18px;
  background-color: #FF0000;
  font-weight: bold;
  font-size: 12px;
  color: #FFF;
  text-align: center;
  line-height: 18px;
  border-radius: 9px;
  position: relative;
  top: -35px;
  left: 9px;
}

.header .icons .userpic {
  width: 40px;
  height: 40px;
  background-image: url('../img/userpic.png');
  background-size: 40px;
  border-radius: 20px;
}

/* SIDEBAR */

.main .menu {
  width: 230px;
  margin-left: 31px;
  margin-right: 31px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 16px;
  padding-bottom: 30px;
  overflow-y: auto;
  overflow-x: hidden;
}

.main .menu ul, .main .menu-mobile ul {
  color: #898989;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  margin: 0;
}

.menu ul {
  line-height: 49px;
}

.menu li {
  padding-left: 0;
  display: flex;
  max-height: 49px;
  flex-wrap: wrap;
  overflow: hidden;
}

.menu li svg {
  margin-top: 16px;
}

.menu li:hover, .menu-mobile li:hover {
  color: #FF0000;
  cursor: pointer;
}

.menu li svg path, .menu-mobile li svg path {
  opacity: 0.24;
}

.menu li:hover svg path, .menu-mobile li:hover svg path {
  fill: #FF0000;
  opacity: 1;
}

.menu ul > li div {
  width: 34px;
  height: 49px;
}

.menu .subscriptions h3 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.menu .subscriptions ul {
  margin-left: 0;
}

.menu .subscriptions ul li {
  gap: 10px;
}

.menu .subscriptions ul > li div:first-of-type {
  width: 26px;
  height: 26px;
}

.menu .subscriptions ul img {
  width: 26px;
  height: 26px;
  margin-top: 13px;
  border-radius: 13px;
}

.menu .settings {
  display: flex;
  gap: 15px;
}

.menu .settings:hover {
  cursor: pointer;
  color: #F00;
}

.menu .settings svg path {
  opacity: 0.24;
}

.menu .settings:hover svg path {
  opacity: 1;
  fill: #FF0000;
}

/* MOBILE MENU */
.main .menu-mobile {
  border-top: 1px solid #F1F1F1;
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}

.main .menu-mobile ul{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.main .menu-mobile li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* MAIN BOX */

.main {
  flex-grow: 1;
  display: flex;
  overflow-y: hidden;
}

/* CONTENTS */

.contents {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 31px;
  padding: 12px 10px 0px 10px;
}

.contents > div {
  width: 100%;
}

.contents .channel-header, .contents .recommended-header {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-bottom: 5px;
}

.contents .channel-header h2 {
  display: flex;
  gap: 14px;
  font-size: 26px;
  align-items: center;
  white-space: nowrap;
}

.contents .channelpic img {
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.contents .channel-navigation {
  padding-top: 23px;
  display: flex;
  gap: 8px;
}

.contents .channel-navigation .navigate-left svg {
  position: relative;
  left: -2px;
}

.contents .channel-navigation .navigate-right svg {
  position: relative;
  left: 1px;
}

.contents .channel-navigation > div {
  width: 28px;
  height: 28px;
  background-color: #C2C2C2;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
}

.contents .channel-navigation > div:hover {
  background-color: #F00;
}

.contents .channel-navigation svg {
  padding-top: 8px;
}

.contents ul.videos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  overflow-x: hidden;
}

.contents .videos .preview {
  cursor: pointer;
}

.contents .videos .preview img {
  border-radius: 14px;
}

.contents .channel .videos .preview img, .contents .recommended-topic .videos .preview img {
  width: 250px;
  height: 150px;
}

.contents .recommended .videos .preview img {
  width: 540px;
  height: 250px;
}

.contents .videos .time {
  width: 47px;
  height: 24px;
  color: #FFF;
  background-color: #B2B2B2;
  font-size: 14px;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
  position: relative;
}

.contents .videos .time {
  top: -34px;
  left: calc( 100% - 55px );
}

.contents .videos .preview:hover .time {
  background-color: #F00;  
}

.contents .videos h6 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 4px;
  cursor: pointer;
}

.contents .videos .info {
  display: flex;
  justify-content: space-between;
  color: #C2C2C2;
  font-size: 13px;
}

.contents .videos .info .channel {
  cursor: pointer;
}

.recommended-topic .channel-header .recommended-topic-note {
  color: #C2C2C2;
  size: 16px;
  display: flex;
  align-items: flex-end;
  height: 64px;
}

.recommended-topic .recommended-topic-header {
  display: flex;
  gap: 20px;
}

.channel-header .subscribe-navigation {
  display: flex;
  gap: 25px;
}

.channel-header .subscribe-navigation .subscribe-button {
  background-color: #F00;
  color: #FFF;
  height: 40px;
  width: 154px;
  border-radius: 20px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
  cursor: pointer;
}