
/* MENU */

@media (max-width: 610px) {
  .icons .camera {
    display: none;
  }
}

@media (max-width: 700px) {
  .channel-page .icons .camera {
    display: none;
  }
}

@media (max-width: 530px) {
  .icons .apps {
    display: none;
  }
}

@media (max-width: 620px) {
  .channel-page .icons .apps {
    display: none;
  }
}

@media (max-width: 460px) {
  .icons .notifications {
    display: none;
  }
}

@media (max-width: 550px) {
  .channel-page .icons .notifications {
    display: none;
  }
}

@media (max-width: 660px) {
  .header .menu {
    display: none;
  }
}

@media (max-width: 760px) {
  .header .search {
    display: none;
  }
}

@media (min-width: 760px) {
  .header .search-mobile {
    display: none;
  }
}


/* SIDEBAR */

@media (max-width: 1100px) {
  .main .menu {
    display: none;
  }
  .main {
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .main .menu {
    width: 96px;
  }

  .main .menu .subscriptions h3 {
    display: none;
  }
}
  
@media (min-width: 1100px) {
  .main .menu-mobile {
    display: none;
  }
}

/* CONTENTS */
@media (max-width: 500px) {

  .contents .recommended, .contents .recommended-topic, .contents .channel .channel-header, .top-video {
    display: none;
  }

  .contents .channel .videos {
    flex-direction: column;
  }

  .contents .channel .videos .preview img {
    width: 100%;
    height: auto;
    aspect-ratio: 250/150;
  }
}

/* CHANNEL PAGE */
@media (max-width: 1500px) {
  .recommended {
    display: none;
  }
}

@media (max-width: 890px) {
  .top-video {
    flex-direction: column;
  }

  .secondary-menu .optional {
    display: none;
  }

  .secondary-menu .more {
    display: inherit;
  }

  .menu-logo h2 {
    display: inherit;
  }

  .logo-mobile {
    display: inherit;
  }

  .channel-page .logo {
    display: none;
  }

  .channel-page .menu-logo .menu {
    display: none;
  }
}

@media (max-width: 580px) {
  .channel-title {
    flex-direction: column;
  }

  .channel-title .icon {
    display: none;
  }

  .channel-header-image {
    border-radius: 0;
  }

  .channel-name {
    flex-direction: column;
    margin-left: 10px;
  }

  .channel-pic {
    width: 70px;
    border-radius: 35px;
    position: relative;
    top: -70px;
    margin-bottom: -70px;
  }
}